@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

html, body {
  color: #000;
  font-family: 'Comfortaa', sans-serif;
  font-size: 62.5%;
  background-color: #fff; }
  @media screen and (max-width: 767px) {
    html, body {
      font-size: calc(10px + 13 * (100vw - 320px) / 447); } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    html, body {
      font-size: calc(10px + 4 * (100vw - 768px) / 255); } }
  @media (min-width: 1024px) and (max-width: 1360px) {
    html, body {
      font-size: calc(8px + 2 * (100vw - 1024px) / 336); } }

.page-header {
  background-color: #fff; }
  .page-header__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: 0 auto;
    max-width: 124rem; }
    .page-header__wrapper .page-header__logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-decoration: none;
      color: #0C73FE; }
      .page-header__wrapper .page-header__logo svg {
        width: 5rem;
        height: 5rem; }
        .page-header__wrapper .page-header__logo svg path {
          fill: #0C73FE; }
      .page-header__wrapper .page-header__logo span {
        font-size: 2.4rem;
        font-weight: 500; }
    .page-header__wrapper .page-header__burger-menu {
      display: none;
      position: relative;
      width: 2rem;
      height: 0.2rem;
      background-color: #0C73FE;
      cursor: pointer; }
      .page-header__wrapper .page-header__burger-menu::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        left: 0;
        top: 0.7rem;
        background-color: #0C73FE; }
      .page-header__wrapper .page-header__burger-menu::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        left: 0;
        top: -0.7rem;
        background-color: #0C73FE; }
    .page-header__wrapper .page-header__navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .page-header__wrapper .page-header__navigation .navigation__item {
        margin-right: 2rem; }
        .page-header__wrapper .page-header__navigation .navigation__item:last-child {
          margin-right: 0; }
        .page-header__wrapper .page-header__navigation .navigation__item a {
          position: relative;
          font-size: 1.6rem;
          font-weight: 400;
          color: #0C73FE;
          text-decoration: none;
          -webkit-transition: color 0.1s linear;
          -o-transition: color 0.1s linear;
          transition: color 0.1s linear; }
          .page-header__wrapper .page-header__navigation .navigation__item a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0.3rem;
            bottom: -1rem;
            left: 0;
            background-color: #ff9328;
            -webkit-transition: width 0.2s linear;
            -o-transition: width 0.2s linear;
            transition: width 0.2s linear; }
          .page-header__wrapper .page-header__navigation .navigation__item a:hover {
            color: #ff9328; }
            .page-header__wrapper .page-header__navigation .navigation__item a:hover::after {
              width: 70%; }

.promo-visual {
  position: relative;
  min-height: 50rem;
  background-image: url(../img/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  .promo-visual .go-next {
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    bottom: -2.6rem;
    left: 50%;
    background-color: #0C73FE;
    background-image: url(../icons/arrow-bottom.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
    .promo-visual .go-next:hover {
      -webkit-transform: translate(-50%, 0.3rem);
          -ms-transform: translate(-50%, 0.3rem);
              transform: translate(-50%, 0.3rem); }

.accumulation {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .accumulation__wrapper {
    max-width: 124rem;
    width: 95%;
    margin: 0 auto; }

.trust {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #0C73FE; }
  .trust__wrapper {
    width: 95%;
    max-width: 124rem;
    margin: 0 auto; }
    .trust__wrapper h2 {
      margin-bottom: 3rem;
      color: #fff;
      font-size: 3.4rem;
      text-align: center;
      font-weight: 700; }
    .trust__wrapper .trust__items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .trust__wrapper .trust__items .trust__item {
        width: 30rem;
        margin-right: 5rem;
        color: #fff; }
        .trust__wrapper .trust__items .trust__item:last-child {
          margin-right: 0; }
        .trust__wrapper .trust__items .trust__item__icon {
          margin: 0 auto;
          margin-bottom: 2rem;
          width: 5rem;
          height: 5rem;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
          .trust__wrapper .trust__items .trust__item__icon_back-money {
            background-image: url(../icons/trust/back-money.svg); }
          .trust__wrapper .trust__items .trust__item__icon_care {
            background-image: url(../icons/trust/care.svg); }
          .trust__wrapper .trust__items .trust__item__icon_medical {
            background-image: url(../icons/trust/medical.svg); }
        .trust__wrapper .trust__items .trust__item h3 {
          margin-bottom: 1rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 500; }
        .trust__wrapper .trust__items .trust__item p {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400; }

.search-form {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #0C73FE; }
  .search-form__wrapper {
    width: 95%;
    max-width: 124rem;
    margin: 0 auto; }
    .search-form__wrapper h2 {
      margin-bottom: 5rem;
      color: #fff;
      text-align: center;
      font-size: 3.4rem;
      font-weight: 700; }
    .search-form__wrapper form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .search-form__wrapper form span {
        display: block;
        font-size: 1rem;
        color: #fff; }
      .search-form__wrapper form input {
        height: 6rem;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.6rem;
        font-family: inherit;
        outline: none;
        border: none;
        border-right: 0.2rem solid #0C73FE;
        -webkit-transition: border-bottom 0.1s linear;
        -o-transition: border-bottom 0.1s linear;
        transition: border-bottom 0.1s linear; }
        .search-form__wrapper form input:last-child {
          border-right: none; }
        .search-form__wrapper form input::-webkit-input-placeholder {
          font-family: inherit; }
        .search-form__wrapper form input::-moz-placeholder {
          font-family: inherit; }
        .search-form__wrapper form input:-ms-input-placeholder {
          font-family: inherit; }
        .search-form__wrapper form input::-ms-input-placeholder {
          font-family: inherit; }
        .search-form__wrapper form input::placeholder {
          font-family: inherit; }
        .search-form__wrapper form input:focus {
          border-bottom: 0.2rem solid #ff9328; }
      .search-form__wrapper form .search-form__from {
        position: relative;
        border-radius: 0.5rem 0 0 0.5rem; }
        .search-form__wrapper form .search-form__from:focus {
          border-left: 0.2rem solid #ff9328; }
      .search-form__wrapper form .search-form__count {
        margin-right: 1rem;
        border-radius: 0 0.5rem 0.5rem 0; }
      .search-form__wrapper form .search-form__btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 6rem;
        width: 100%;
        min-width: 25rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.8rem;
        background-color: #f57c00;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        cursor: pointer;
        -webkit-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear; }
        .search-form__wrapper form .search-form__btn::after {
          content: "";
          width: 3.6rem;
          height: 3.8rem;
          background-image: url(../icons/plane.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
        .search-form__wrapper form .search-form__btn:hover {
          background-color: #ff9328; }

.promotions {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .promotions__wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 124rem; }
    .promotions__wrapper h2 {
      margin-bottom: 3rem;
      color: #0C73FE;
      text-align: center;
      font-size: 3.4rem;
      font-weight: 700; }
    .promotions__wrapper .promotions__items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .promotions__wrapper .promotions__items .promotions__item {
        margin-right: 5rem;
        width: 35rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none; }
        .promotions__wrapper .promotions__items .promotions__item:last-child {
          margin-right: 0; }
        .promotions__wrapper .promotions__items .promotions__item img {
          margin-bottom: 2rem;
          width: 30rem;
          height: 50rem; }
        .promotions__wrapper .promotions__items .promotions__item h2 {
          margin-bottom: 1rem;
          text-align: center;
          font-size: 2.4rem; }
        .promotions__wrapper .promotions__items .promotions__item .decoration-line {
          width: 70%;
          height: 0.2rem;
          margin-bottom: 1rem;
          background-color: #0C73FE; }
        .promotions__wrapper .promotions__items .promotions__item p {
          color: #0C73FE;
          text-align: center;
          font-size: 1.6rem; }

.subscribe {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #0C73FE; }
  .subscribe__wrapper {
    width: 95%;
    max-width: 124rem;
    margin: 0 auto; }
    .subscribe__wrapper h2 {
      margin-bottom: 1rem;
      color: #fff;
      font-size: 3.4rem;
      font-weight: 700;
      text-align: center; }
    .subscribe__wrapper h3 {
      margin-bottom: 5rem;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center; }
    .subscribe__wrapper form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .subscribe__wrapper form input {
        height: 6rem;
        width: 40rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        border: none;
        outline: none;
        border-radius: 0.5rem 0 0 0.5rem; }
        .subscribe__wrapper form input::-webkit-input-placeholder {
          font-family: 'Montserrat', sans-serif; }
        .subscribe__wrapper form input::-moz-placeholder {
          font-family: 'Montserrat', sans-serif; }
        .subscribe__wrapper form input:-ms-input-placeholder {
          font-family: 'Montserrat', sans-serif; }
        .subscribe__wrapper form input::-ms-input-placeholder {
          font-family: 'Montserrat', sans-serif; }
        .subscribe__wrapper form input::placeholder {
          font-family: 'Montserrat', sans-serif; }
      .subscribe__wrapper form button {
        height: 6rem;
        width: 25rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.6rem;
        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        background-color: #f57c00;
        cursor: pointer;
        outline: none;
        -webkit-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear; }
        .subscribe__wrapper form button:hover {
          background-color: #ff9328; }

.search {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0C73FE; }
  .search__wrapper {
    width: 95%;
    max-width: 124rem;
    margin: 0 auto; }
    .search__wrapper .search__info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .search__wrapper .search__info div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 3rem;
        border-bottom: 0.1rem solid #fff; }
        .search__wrapper .search__info div:last-child {
          margin-right: 0; }
        .search__wrapper .search__info div span {
          color: #fff;
          font-size: 1.6rem; }
          .search__wrapper .search__info div span:first-child {
            margin-bottom: 2rem;
            font-size: 1.4rem;
            opacity: 0.7; }
    .search__wrapper .search__fligths {
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin-top: 7rem;
      background-color: #fff; }
      .search__wrapper .search__fligths h2 {
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        color: #0C73FE; }

.register {
  padding-top: 7rem;
  padding-bottom: 13.7rem;
  background-color: #fff;
  background-image: url(../img/sky-bg.jpg);
  background-position: 0 -0.5rem;
  background-size: 100%;
  background-repeat: no-repeat; }
  .register__wrapper {
    max-width: 124rem;
    width: 95%;
    margin: 0 auto; }
    .register__wrapper form {
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin: 0 auto;
      width: 60%;
      height: 80rem;
      background-color: #fff;
      border-radius: 3rem;
      -webkit-box-shadow: 0.3rem 0.3rem 1.5rem 1rem rgba(0, 0, 0, 0.1);
              box-shadow: 0.3rem 0.3rem 1.5rem 1rem rgba(0, 0, 0, 0.1); }
      .register__wrapper form h2 {
        margin-bottom: 3rem;
        font-size: 3.4rem;
        text-align: center;
        color: #0C73FE; }
      .register__wrapper form .register__form-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .register__wrapper form .register__form-wrapper .form-wrapper__input-group {
          margin-bottom: 3rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .register__wrapper form .register__form-wrapper .form-wrapper__input-group label {
            margin-bottom: 0.5rem;
            font-weight: 700;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.7); }
          .register__wrapper form .register__form-wrapper .form-wrapper__input-group input {
            width: 35rem;
            height: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: inherit;
            outline: none;
            border: 0.1rem solid rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
            -webkit-transition: border-color 0.2s linear;
            -o-transition: border-color 0.2s linear;
            transition: border-color 0.2s linear; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input:focus {
              border-color: #0C73FE; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input::-webkit-input-placeholder {
              font-family: inherit; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input::-moz-placeholder {
              font-family: inherit; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input:-ms-input-placeholder {
              font-family: inherit; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input::-ms-input-placeholder {
              font-family: inherit; }
            .register__wrapper form .register__form-wrapper .form-wrapper__input-group input::placeholder {
              font-family: inherit; }
        .register__wrapper form .register__form-wrapper button {
          margin-top: 2rem;
          width: 30rem;
          height: 4rem;
          font-size: 1.6rem;
          font-weight: 700;
          color: #fff;
          outline: none;
          border: none;
          border-radius: 1rem;
          cursor: pointer;
          background-color: #0C73FE;
          -webkit-box-shadow: 0.2rem 0.2rem #0357c5;
                  box-shadow: 0.2rem 0.2rem #0357c5;
          -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
          transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
          -o-transition: background-color 0.2s linear, box-shadow 0.2s linear;
          transition: background-color 0.2s linear, box-shadow 0.2s linear;
          transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
          .register__wrapper form .register__form-wrapper button:hover {
            background-color: #2c87fd;
            -webkit-box-shadow: 0.3rem 0.3rem #0357c5;
                    box-shadow: 0.3rem 0.3rem #0357c5; }

.login {
  padding-top: 7rem;
  padding-bottom: 35rem;
  background-color: #fff;
  background-image: url(../img/sky-bg.jpg);
  background-position: 0 -0.5rem;
  background-size: 100%;
  background-repeat: no-repeat; }
  .login__wrapper {
    max-width: 124rem;
    width: 95%;
    margin: 0 auto; }
    .login__wrapper form {
      padding-top: 7rem;
      padding-bottom: 5rem;
      margin: 0 auto;
      width: 60%;
      height: 50rem;
      background-color: #fff;
      border-radius: 3rem;
      -webkit-box-shadow: 0.3rem 0.3rem 1.5rem 1rem rgba(0, 0, 0, 0.1);
              box-shadow: 0.3rem 0.3rem 1.5rem 1rem rgba(0, 0, 0, 0.1); }
      .login__wrapper form h2 {
        margin-bottom: 3rem;
        font-size: 3.4rem;
        text-align: center;
        color: #0C73FE; }
      .login__wrapper form .login__form-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .login__wrapper form .login__form-wrapper .form-wrapper__input-group {
          margin-bottom: 3rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .login__wrapper form .login__form-wrapper .form-wrapper__input-group label {
            margin-bottom: 0.5rem;
            font-weight: 700;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.7); }
          .login__wrapper form .login__form-wrapper .form-wrapper__input-group input {
            width: 35rem;
            height: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: inherit;
            outline: none;
            border: 0.1rem solid rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
            -webkit-transition: border-color 0.2s linear;
            -o-transition: border-color 0.2s linear;
            transition: border-color 0.2s linear; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input:focus {
              border-color: #0C73FE; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input::-webkit-input-placeholder {
              font-family: inherit; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input::-moz-placeholder {
              font-family: inherit; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input:-ms-input-placeholder {
              font-family: inherit; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input::-ms-input-placeholder {
              font-family: inherit; }
            .login__wrapper form .login__form-wrapper .form-wrapper__input-group input::placeholder {
              font-family: inherit; }
        .login__wrapper form .login__form-wrapper button {
          margin-top: 2rem;
          width: 30rem;
          height: 4rem;
          font-size: 1.6rem;
          font-weight: 700;
          color: #fff;
          outline: none;
          border: none;
          border-radius: 1rem;
          cursor: pointer;
          background-color: #0C73FE;
          -webkit-box-shadow: 0.2rem 0.2rem #0357c5;
                  box-shadow: 0.2rem 0.2rem #0357c5;
          -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
          transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
          -o-transition: background-color 0.2s linear, box-shadow 0.2s linear;
          transition: background-color 0.2s linear, box-shadow 0.2s linear;
          transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
          .login__wrapper form .login__form-wrapper button:hover {
            background-color: #2c87fd;
            -webkit-box-shadow: 0.3rem 0.3rem #0357c5;
                    box-shadow: 0.3rem 0.3rem #0357c5; }

.page-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    max-width: 124rem;
    margin: 0 auto; }
    .page-footer__wrapper .page-footer__phone {
      font-size: 1.6rem;
      color: #0C73FE; }
    .page-footer__wrapper .page-footer__navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none; }
      .page-footer__wrapper .page-footer__navigation .navigation__item {
        margin-right: 2rem; }
        .page-footer__wrapper .page-footer__navigation .navigation__item:last-child {
          margin-right: 0; }
        .page-footer__wrapper .page-footer__navigation .navigation__item a {
          position: relative;
          color: #0C73FE;
          text-decoration: none;
          font-size: 1.6rem;
          -webkit-transition: color 0.1s linear;
          -o-transition: color 0.1s linear;
          transition: color 0.1s linear; }
          .page-footer__wrapper .page-footer__navigation .navigation__item a::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0.3rem;
            bottom: -1rem;
            left: 0;
            background-color: #ff9328;
            -webkit-transition: width 0.2s linear;
            -o-transition: width 0.2s linear;
            transition: width 0.2s linear; }
          .page-footer__wrapper .page-footer__navigation .navigation__item a:hover {
            color: #ff9328; }
            .page-footer__wrapper .page-footer__navigation .navigation__item a:hover::after {
              width: 70%; }
