.promotions {
    padding-top: 8rem;
    padding-bottom: 8rem;

    &__wrapper {
        margin: 0 auto;
        width: 95%;
        max-width: 124rem;

        h2 {
            margin-bottom: 5rem;

            color: $blue;
            text-align: center;
            font-size: 3.4rem;
            font-weight: 700;
        }

        .promotions__items {
            display: flex;
            justify-content: center;
            align-items: stretch;

            .promotions__item {
                padding-top: 5rem;
                padding-bottom: 5rem;
                padding-left: 5rem;
                padding-right: 5rem;
                margin-right: 5rem;
                width: 35rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                text-decoration: none;

                box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.1);
                border-radius: 1rem;
                transition: transform 0.2s linear;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    transform: translateY(-0.5rem);
                }

                .icon {
                    width: 10rem;
                    height: 10rem;
                    margin-bottom: 3rem;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    &_cashback {
                        background-image: url(../icons/return-of-investment.svg);
                    }

                    &_accumulation {
                        background-image: url(../icons/presentation.svg);
                    }

                    &_discount {
                        background-image: url(../icons/credit-card.svg);
                    }
                }

                h2 {
                    margin-bottom: 2rem;

                    text-align: center;
                    font-size: 2.4rem;
                }

                .decoration-line {
                    width: 70%;
                    height: 0.2rem;
                    margin-bottom: 2rem;
                    margin-top: auto;

                    background-color: $blue;
                }

                p {
                    color: $blue;
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
        }
    }
}